[Unit]
Description=Slurm node daemon
After=network.target munge.service
ConditionPathExists={{slurminfo['sysconfdir']}}/slurm.conf

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/slurmd
ExecStart={{slurminfo['prefix']}}/sbin/slurmd $SLURMD_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
PIDFile={{slurminfo['statedir']}}/slurmd.pid
KillMode=process
LimitNOFILE=51200
LimitMEMLOCK=infinity
LimitSTACK=infinity


[Install]
WantedBy=multi-user.target
